/*Página externa de estilos CSS*/

html {
  scroll-behavior: smooth;
}

body,
ul,
li,
p,
footer {
  margin: 0px;
  padding: 20px;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #db94b5;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  text-align: center;
  padding: 50px;
}

h2 {
  text-align: center;
  padding: 50px;
}

h3 {
  text-align: left;
}

footer {
  text-align: center;
}

.header {
  background: #d93682;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /*Espaço entre os elementos do menu*/
  align-items: center; /*Alinhamento ao centro da header*/
  padding: 20px; /*Espaçamento do campo (que não é a margem, é a borda em volta)*/
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

/*Animação de Hover (cor ao passar o mouse em cima do elemento) na parte clicável do menu*/

.menu li a:hover {
  text-decoration: none;
  color: #ff0077;
}

/* Adicionando Flexbox Container */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container > div {
  margin: 10px;
}

.wh {
  width: 900px;
  height: 900px;
}

/*Tamanho dos ícones de rede social*/

.tm-social {
  width: 50px;
  padding: 30px;
}

/* Adicionando Hover na Imagem */

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.content {
  position: absolute;
  top: 45%;
  left: 30%;
  right: 20%;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: #ff0077;
}

.wrapper:hover .overlay {
  opacity: 50%;
}

/*Adicionando logo no botão Home*/

.logo {
  position: relative;
  width: 100px;
  border-radius: 75%;
}

/* Formulário */

#contato {
  margin-right: 400px;
  margin-left: 400px;
  margin-bottom: 50px;
  margin: 0;
}

#contato h2 {
  margin-top: 10px;
}

#contato div.row {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#contato div.row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.row {
  margin-left: 400px;
  margin-right: 400px;
  padding-left: 200px;
  padding-right: 200px;
}

.row button {
  padding: 5px;
  margin-bottom: 50px;
}

.p-20 {
  padding: 50px;
  text-align: justify;
}
