/*Página externa de estilos CSS*/
body,
ul,
li,
p,
footer {
  margin: 0px;
  padding: 20px;
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #db94b5;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  text-align: center;
  padding: 50px;
}

h2 {
  text-align: center;
  padding: 50px;
}

h3 {
  text-align: left;
}

footer{
  text-align: center;
}

.header {
  background: #D93682;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.menu {
  display: flex;
}

.menu li {
    margin-left: 10px;
  }
  
  .menu li a {
    display: block;
    padding: 10px;
  }
  .menu li a:hover{
    text-decoration: none;
    color: #ff0077;
   } 

  /*Adicionando Flex Container*/
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .container > div {
    margin: 10px;
  }

  .formulario{

    margin-top: 50px;
    width: 80%;
    float: right;
}

.wh {
  width: 900px;
  height: 900px;
}

.tm-social {
  width: 50px;
  padding: 30px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.content {
  position: absolute;
  top: 45%;
  left: 30%;
  right: 20%;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #ff0077;
}

.wrapper:hover .overlay {
  opacity: 50%;
}

